<div	class="card-content">
  <div	class="card-img">
    <img	src="https://placeimg.com/380/230/nature"	alt="">
    <!-- <span><h4>{{destino.nombre}}</h4></span> -->
    <span><h4>{{position}}</h4></span>
  </div>
  <div	class="card-desc">
    <h3>{{destino.nombre}}</h3>
    <p>{{destino.descripcion}}</p>
    <p>Servicios</p>
    <ul class="list-group" id="destinos">
      <li *ngFor="let s of destino.servicios" class="list-group-item">
        <span [ngSwitch]="s">
          <i *ngSwitchCase="'desayuno'" style="color: red">{{s}}</i>
          <i *ngSwitchDefault>{{s}}</i>
        </span>
      </li>
    </ul>
    <div>
      <a href="#" (click)="voteUp()" >
        <i class="material-icons md-18">thumb_up</i>
      </a>
      &nbsp;
      <a href="#" (click)="voteDown()" >
        <i class="material-icons md-18">thumb_down</i>
      </a>
      &nbsp;
      {{destino.votes}}
      &nbsp;
    </div>
    <a	href="#"	class="btn-card" (click)="ir()">Ir</a>
    <span *ngIf ="destino.isSelected()">
      <span ngNonBindable>{{PREFERIDO}}</span>
    </span>
    <a [routerLink]="['/destino']">Ver Detalle</a>
  </div>
</div>
<!--
<ul class="list-group" id="destinos">
  <li class="list-group-item">{{destino.nombre}}</li>
  <li class="list-group-item">{{destino.descripcion}}</li>
</ul> -->

