<form
  [formGroup]="fg"
  (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['descripcion'].value, fg.controls['url'].value)"
>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..."
    [formControl]="fg.controls['nombre']">
    <ul>
      <li *ngFor="let r of searchResults;">{{r}}</li>
    </ul>
    <small style="color:red;" *ngIf="fg.controls['nombre'].hasError('required')">El nombre es un campo obligatorio</small>
    <small style="color:red;" *ngIf="fg.controls['nombre'].hasError('minlongNombre')">El nombre debe tener mínimo {{minlongitud}} caracteres</small>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripcion</label>
    <input type="text" class="form-control" id="descripcion" placeholder="Ingresar descripcion..."
    [formControl]="fg.controls['descripcion']">
  </div>
  <div class="form-group">
    <label for="Imagen	Url">Imagen Url</label>
    <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar	url..."
    [formControl]="fg.controls['url']">
  </div>
  <button type="submit" class="btn	btn-primary"  [disabled]="!fg.valid" >Guardar!</button>
</form>
